.van-checkbox-group--horizontal{display:flex;flex-wrap:wrap}.card-wrap[data-v-fbfca255]{background:var(--van-cell-group-background, #fff);border-radius:var(--van-radius-lg, 12px);padding:20px;box-shadow:0 1px 3px #0000000f}
